@page "/Deal/Search"

@inject NovinCRM.Services.CRM.Objects.Contact ContactService
@inject NovinCRM.Services.CRM.Associate AssociteService
@inject NovinCRM.Services.CRM.Objects.Deal DealService

<div class="container mt-5">
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="nationalCode" class="form-label">?? ???</label>
            <input type="text" class="form-control" id="nationalCode" @bind-value="@NatCode" @bind-value:event="oninput" placeholder="?? ??? ??? ?? ???? ????">
            <button class="btn btn-primary mt-2" onclick="@GetAsssocDealsToContact">?????</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>????? ?????</th>
                        <th>????? ?????</th>
                        <th>????? ?????</th>
                        <th>??????</th>
                    </tr>
                </thead>
                <tbody>
                    @if (IsSearchButtonClicked)
                    {
                        @foreach (var deal in Deals)
                        {
                            <tr>
                                <td>@deal.id</td>
                                <td>@deal.properties.dealname</td>
                                <td>@NovinCRM.Services.Helpers.ConvertToPersianCalendar( @deal.properties.createdate)</td>
                                <td><button class="btn btn-info">??????</button></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    private bool IsSearchButtonClicked { get; set; } = false;

    private string? NatCode { get; set; }

    private string? ContactID { get; set; }

    private List<NovinCRM.Models.CRM.Objects.Deal.Get.Response> Deals { get; set; } = new List<NovinCRM.Models.CRM.Objects.Deal.Get.Response>();

    private async Task GetAsssocDealsToContact()
    {
        var contact = await ContactService.Search("", "ncode", NatCode, new[] { "" });

        if (contact.total == 1)
        {
            ContactID = contact.results[0].id;

            var assoc = await AssociteService.ListAssoc(ContactID, "contact", "deals");

            if (assoc.results.Count == 0)
            {
                Console.WriteLine("No Deal For this Contact Found");
            }
            else
            {
                IsSearchButtonClicked = true;

                Console.WriteLine($"There are {assoc.results.Count} Deals for this Contact");

                Deals.Clear();
                foreach (var dealID in assoc.results)
                {
                    var deal = await DealService.GetDeal(dealID.toObjectId.ToString());
                    Deals.Add(deal);
                }
                Console.WriteLine($"Total of {Deals.Count} Added to list");
            }
        }
        else
        {
            Console.WriteLine("No Contact Found");
        }
    }
}

